@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "aviny";
  src: url("../public/fonts//l1x0_aviny_\(1\).ttf") format("truetype");
}
body {
  font-family: "aviny";
}

.hidden {
  display: none;
}
.active {
  /* background-color: rgb(101, 180, 240); */
}
.item {
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
  padding: 20px 24px;
  padding-right: 48px;
  /* cursor: pointer; */
  /* border-top: 4px solid #fff; */
  border-bottom: 4px solid #fff;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.title,
.icon {
  font-size: 24px;
  font-weight: 500;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #faf9d2;
}

.open .number,
.open .title {
  color: #000000;
}

.textcolor {
  text-shadow: 0 0 0 red; /* Initial red color */
  animation: shadowAnimation 6s infinite;
}
.slide {
  animation: moveup 1s;
}
.appear {
  animation: apper 1s;
}
.drop-shadow-icon {
  font-size: 2rem;
  filter: drop-shadow(1px -1px 0 #0909a1);
  animation: drop-shadow-animation 3s infinite;
}
@keyframes moveup {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes apper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop-shadow-animation {
  0% {
    filter: drop-shadow(1px -1px 0 #0909a1);
  }
  50% {
    filter: drop-shadow(1px -1px 0 transparent);
  }
  100% {
    filter: drop-shadow(1px -1px 0 #0909a1);
  }
}
@keyframes shadowAnimation {
  0%,
  100% {
    text-shadow: 0 0 5px rgb(255, 0, 191); /* Red color */
  }
  33.33% {
    text-shadow: 0 0 5px rgb(255, 0, 0); /* Blue color */
  }
  66.66% {
    text-shadow: 0 0 5px rgb(8, 37, 122); /* Green color */
  }
}
